body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Alegreya', serif;
    margin: 0;
    padding: 0;
}

#interface {
    width: 100vw;
    height: 100vh;
}

svg {
    width: 60vw;
    height: 60vh;
}

#mainRow {
    margin: 0;
}
