body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Alegreya', serif;
    margin: 0;
    padding: 0;
}

#interface, #books, #art {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.carousel-inner img {margin: auto;}

.carousel-indicators li {
    background-color: #6b6b6b;
}

.carousel-inner {
    min-height: 70vh;
}

#book_carousel {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

svg {
    width: 60vw;
    height: 60vh;
}

#mainRow {
    margin: 0;
}

@media screen and (max-width: 767px) {
    svg {
        width: 80vw;
        height: 40vh;
    }

    h1 {
        font-size: 30px;
    }
}
